body {
    margin: 0;
    min-height: 300px;
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
}

nav {
    width: 100%;
    float: left;
}

.menu {
    margin: 0;
    padding: 8px;
    height: 100%;
    background-color: #334a94;
}

.menu li {
    display: inline;
}

.button {
    font-family: Arial;
    font-size: 1em;
    font-style: none;
    color: #ffffff;
    padding: 8px;
    text-decoration: none;
}

.button:link {
    background-color: #334a94;
    color: #ffffff;
}

.button:hover {
    background-color: lightblue;
}

.dados-container {
    text-align: center;
    padding: 50px 20px;
}

.header {
    margin-bottom: 30px;
}

.title {
    font-size: 2.5em;
    color: #333;
    margin: 50px 0 0 0;
}

.image-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.main-image {
    max-width: 100%;
    height: auto;
    border: 5px solid #ccc;
    border-radius: 10px;
}

.dados {
    text-align: center;
    margin: 0 auto;
    max-width: 600px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form label {
    text-align: left;
    width: 100%;
    margin: 10px 0;
}

form input {
    width: calc(100% - 20px);
    padding: 5px;
    margin: 5px 0 20px;
    box-sizing: border-box;
}

.button1 {
    font-family: Arial;
    background-color: #334a94;
    font-size: 1em;
    font-style: none;
    color: white;
    padding: 4px;
    border-radius: 5px;
}

.button1:link {
    background-color: #334a94;
    color: #ffffff;
}

.button1:hover {
    background-color: lightblue;
}

.button1:disabled {
    background-color: lightgray;
}

table {
    font-family: Arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin: 20px 0;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

@media (min-width: 768px) {
    .title {
        font-size: 3em;
    }
}
